:root{    --primary-color: #4cc9f0;
    --secondary-color: #181717; 
    --accent1-color:  #fa9857;
    --accent2-color: rgb(45, 45, 173); 
    --heading-font: serif;
    --paragraph-font: serif;
    --nav-background-color: #3a5a40;
    --nav-link-color: #14213d;
    --nav-hover-link-color: #000000;
    --nav-hoverp-background-color: #15181a;
}
.hero img 
    {display: block;
    width: 100%;
    height: auto;
    position: absolute;
}

.div img {
    position: absolute;
    top:  0px; 
    left: 0px;
  }

  .h1 {
    color: rgb(18, 3, 99);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 400px;
    margin-top: 5px;
  }
  
  .adventure {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    color: rgb(241, 77, 27);
    margin-top: -150px;

  }

  body{
    font-size: 18px;
    font-family: 'Roboto', Arial, sans-serif;
    align-items: center;
    max-width: 1200px;
    
}
    
  .container-2 { 
    display: flex;
    position: relative;
    background-color: #6c91e0;
    
}
.Mission {
  background: linear-gradient(rgba(93, 180, 100, 0.75), rgba(73, 180, 63, 0.75));
  font-family: Verdana, Geneva, Tahoma, sans-serif;color: rgb(231, 222, 55);
  padding-top: 50px;
  margin-top: -240px;
  margin-left: 97px;
  text-align: center;
  position: relative;
  width: 700px;
  height: 150px;
}
     
  
  article {
    width: 700px;
    margin-top: -230px;
    margin-left: 800px;
    
  }

 

  .box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    color: #000;
}

.company {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 200px;color: rgb(18, 3, 99);
  text-align: left;

}


.History {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(241, 77, 27);
    margin-left: 0;
    margin-top: 80px;
    position: relative;
   
}

.paragraph-history {
    color: rgb(18, 3, 99);
    text-align: left;
}

.footer {
  color: rgb(18, 3, 99);
}